# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.log

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
backend/data/*.json
scripts/*.png

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.gemini/
.system_generated/
web-app_nextjs_javascript_hello-world/

